<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description"
	content="Free Bootstrap Theme by ProBootstrap.com">
<meta name="keywords"
	content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

<link
	href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans"
	rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/styles-merged.css}">
<link rel="stylesheet" th:href="@{/css/style.min.css}">
<!-- <link rel="stylesheet" th:href="@{/css/custom.css}"> -->
<link rel="stylesheet" th:href="@{/css/common.css}">

</head>

		<head th:replace="include/common::iconstyle"></head>
<body>
	<ul class="skipnavi">
		<li><a href="#container">본문내용</a></li>
	</ul>
	<!-- wrap -->
	<div id="wrap">

		<!-- header -->
		<div th:replace="include/header::header"></div>
		<!--  nav bar -->
		<div th:replace="include/header::nav"></div>

		<!-- container -->
		<div id="container">
			<!-- 본문 -->
			<div class="bodytext_area box_inner">
			<!-- 	<form action="joinOk" name="frm" method="post"
					th:object="${UserFormDto}" onsubmit="return chkSubmit()"> -->
					<form name="frm" th:action="@{/members/join}" method="post" enctype="multipart/form-data"  th:object="${UserFormDto}" onsubmit="return chkSubmit()">
				
					<fieldset>
						<legend>회원가입 입력 양식</legend>
						<p class="info_pilsoo pilsoo_item">회원가입</p>
						<ul class="app_list">
							<li class="clear"><label for="username"
								class="tit_lbl pilsoo_item">닉네임</label>
								<div class="app_content">
									<input type="text" class="w100p" id="username" name="username"
										placeholder="닉네임을 입력하세요" th:value="${username}">
								</div></li>
							<li class="clear"><label for="name"
								class="tit_lbl pilsoo_item">이름</label>
								<div class="app_content">
									<input type="text" class="w100p" id="name" name="name"
										placeholder="이름을 입력하세요" th:value="${name}">
								</div></li>
							<li class="clear"><label for="password"
								class="tit_lbl pilsoo_item">비밀번호</label>
								<div class="app_content">
									<input type="password" class="w100p" id="password" name="password"
										placeholder="비밀번호를 입력하세요" th:value="${password}">
								</div></li>
							<li class="clear"><span class="tit_lbl">성별</span> <span
								class="box gender_code"> <select id="gender"
									name="gender">
										<option value="">성별 선택</option>
										<option value="M" style="font-color: black">남</option>
										<option value="F" style="font-color: black">여</option>
								</select><br />
							</span>
							<li class="clear"><label for="email"
								class="tit_lbl pilsoo_item">이메일</label>
								<div class="app_content email_area">
									<input type="text" class="w100p" id="email" name="email"  placeholder="이메일을 입력하세요" title="이메일 주소" th:value="${email}">
									
								</div></li>
							<li class="clear"><label for="phone"
								class="tit_lbl pilsoo_item">연락처</label>
								<div class="app_content">
									<input type="tel" class="w100p" id="phone" name="phone"
										placeholder="휴대폰 '-'없이 숫자만 입력하세요" th:value="${phone}">
								</div></li>
						</ul>
						<div style="text-align: center">
							<button type="submit" class="btn btn-primary" style="" onsubmit="return chkSubmit()">Submit</button>
						</div>
					</fieldset>
					<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
				</form>
			</div>
			<!-- 본문 끝-->
		</div>
		<!-- container 끝 -->
	</div>
	<!-- footer -->
	<div th:replace="include/footer :: footer"></div>


	</div>
	<!-- wrap 끝 -->
</body>
</html>