<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<!-- 푸터 -->
	<footer class="probootstrap-footer probootstrap-bg" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="probootstrap-footer-widget">
						<h3>땀땀!!</h3>
						<p>운동인을 위한 모임 사이트</p>
					</div>
				</div>
				<div class="col-md-3 col-md-push-1">
					<div class="probootstrap-footer-widget">
						<h3>Links</h3>
						<ul>
							<li><a href="/">땀땀</a></li>
							<li><a href="/crew/meetup/list">모임 참가</a></li>
							<li><a href="/crew/crews">크루 모집</a></li>
							<li><a href="/community/list">커뮤니티</a></li>
							<li><a href="/ask/list">고객센터</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="probootstrap-footer-widget">
						<h3>Contact Info</h3>
						<ul class="probootstrap-contact-info">
							<li><i class="icon-location2"></i> <span>코리아 IT 아카데미 강남점</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="probootstrap-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-8 text-left">
						<p>&copy; 2017 <a href="https://probootstrap.com/">ProBootstrap:Enlight</a>. All Rights Reserved. Designed &amp; Developed with <i class="icon icon-heart"></i> by <a href="https://probootstrap.com/">ProBootstrap.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>

</html>