<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">

<!-- 헤더 -->
<div class="probootstrap-header-top" th:fragment="header">
	<div class="container">
	 	<div class="row"> 
		 	<div
				class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info" >
			</div> 
			<div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social" align="right" style="width:100% !important;">
				<th:block sec:authorize="isAuthenticated()">
					<ul style="margin: 5px 0 5px 0;">
						<li class="nav-item" align="left">
							<a type="button" class="btn btn-primary" id="Notifications" style="margin-right: 10px;">
								<input type="hidden" id="userId" th:value="${#authentication.principal.id}">
								<span><i class="fa fa-bell" aria-hidden="true"></i></span>
								<span class="badge badge-sm badge-circle badge-danger border border-white border-2" id="notification-m">
									<span id="notiNum"></span>
								</span>
							</a>
						</li>
						<li class="nav-item"><a href="/members/mypage"><span sec:authentication="principal.nickname"></span>님</a>  </li>
						<li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">로그아웃</a></li>
					</ul>
					<!-----------Notifications 모달------------->
					<div class="modal fade" id="notificationModal" role="dialog">
						<!-- 이곳에 적어준 id 값을 토대로 모달을 호출하게 된다.  -->
						<div class="modal-dialog">
							<!-- Modal content -->
							<div class="modal-content">
								<div class="modal-header">
									 <!-- 모달창의 header 부분에 해당한다.  -->
									<h4 class="modal-title"></h4>
									<button type="button" class="close" data-dismiss="modal">×</button>
								</div>
								<div class="notificationModal">
									<div class="modal-body">
										<div class="notiModalBody">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-----------Notifications 모달------------->
					<script type="text/javascript" th:src="@{/js/noti.js}"></script>
				</th:block>
			</div>
		</div>
	</div>
 </div>
 


<!-- 네비게이션 바 -->
<nav class="navbar navbar-default probootstrap-navbar" th:fragment="nav">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" title="땀땀!!">땀땀!!</a>
		</div>
		<div id="navbar-collapse" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a sec:authorize="!isAuthenticated()" th:href="@{/oauth2/authorization/kakao}" style="padding: 23px 0;"><img src="/images/kakao/kakao_login_medium.png"/></a></li>
				<li><a href="/crew/meetup/list">모임 참가</a></li>
				<li><a href="/crew/crews">크루 모집</a></li>
				<li><a href="/community/list">커뮤니티</a></li>
				<li><a href="/ask/list">고객센터</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- 네비게이션 바 -->
</html>
