<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${crew.name}]] 크루 페이지</title>
    <meta name="description"
          content="Free Bootstrap Theme by ProBootstrap.com">
    <meta name="keywords"
          content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles-merged.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

</head>

<head th:replace="include/common::iconstyle"></head>

<body>
<!--  js에서 쓰기 위해 저장해놓음  -->
<div sec:authorize="isAuthenticated()">
    <input type="hidden" id="userId" name="userId" th:value="${#authentication.principal.id}"/>
</div>

<input type="hidden" id="crewId" name="crewId" th:value="${crew.id}"/>

<!-- START wrapper -->
<div class="probootstrap-page-wrapper">

    <!-- header -->
    <div th:replace="include/header::header"></div>
    <!--  nav bar -->
    <div th:replace="include/header::nav"></div>

    <!-- 크루 name 보여주는 section -->
    <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
            <div class="row">
                <div
                        class="col-md-12 text-left section-heading probootstrap-animate">
                    <h1>[[${crew.name}]]</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- 크루 name 보여주는 section 끝 -->

    <!-- 크루 썸네일 -->
    <section class="flexslider">
        <ul class="slides">
            <li th:style="'background-image: url('+${crew.filePath} + ')'"
                class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="probootstrap-slider-text text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!--  크루 썸네일 끝 -->

    <!--  크루 정보 보여주는 section -->
    <section class="probootstrap-section probootstrap-section-sm" style="height:600px; clear:both; overflow:auto">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row probootstrap-gutter0">
                        <div class="col-md-7 col-md-push-1  probootstrap-animate" id="probootstrap-content">
                            <p>
                                <!--  크루 카테고리 -->
                                <span class="probootstrap-date"><i class="fa fa-filter" aria-hidden="true"></i>카테고리 : [[${crew.category}]]</span>
                                <!--  크루 지역 -->
                                <span class="probootstrap-location">
										<i class="icon-location2"></i>지역: [[${crew.area}]]
									</span>
                                <!--  크루장 이름 -->
                                <span class="probootstrap-location">
										<i class="fa fa-user" aria-hidden="true"></i>크루장 :	[[${crew.crewAdmin.username}]]
									</span>
                                <!-- 크루 멤버 수 -->
                                <span class="probootstrap-location" id="memberCount">
										<i class="fa fa-users" aria-hidden="true"></i>멤버수 : [[${crew.memberCount}]]
									</span>
                                <!-- 크루 멤버 수 -->
                                <span class="probootstrap-location">
										<i class="fa fa-meetup" aria-hidden="true"></i>누적 모임 횟수 : [[${#lists.size(allmeetupLists)}]]
									</span>
                            </p>

                            <h2>크루를 소개하는 말</h2>

                            <!-- 크루 소개 및 목표 -->
                            <p>[[${crew.description}]]</p><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  크루 정보 보여주는 section 끝 -->

    <div style="height:100px; clear:both;"></div>


    <!--  팔로우와 좋아요 누르는 디브, 로그인한 회원에게만 보인다. -->
    <div sec:authorize="isAuthenticated()" style="text-align:center; clear:both;">

        <!-- 크루 멤버 아니면서 크루 가입 요청 안 보낸 유저 -->
        <div th:if="${crewRole.toString().equals('user')}">
            <button type="button"
                    th:if="${crew.memberCount<crew.memberLimit}"
                    th:onclick="'location.href=\'' + @{/crew/follow/request/{id}(id=${crew.id})} +'\''"
                    class="btn btn-primary" id="follow">크루 지원하기
            </button>
            <button th:if="${crew.memberCount==crew.memberLimit}"
                    class="btn btn-primary">모집 마감
            </button>
            <button class="btn btn-primary" id="rec_update">
                <i class="fa fa-heart" style="font-size: 16px; color: red" aria-hidden="true"></i>
            </button>
            <span class="rec_count"></span>
        </div>

        <!--  크루 가입 요청 기다리는 유저 -->
        <div th:if="${crewRole.toString().equals('requested')}">
            <button
                    class="btn btn-primary" id="follow">승인 기다리는 중
            </button>
            <button class="btn btn-primary" id="rec_update">
                <i class="fa fa-heart" style="font-size: 16px; color: red" aria-hidden="true"></i>
            </button>
            <span class="rec_count"></span>
        </div>

        <!--  크루 멤버 -->
        <div th:if="${crewRole.toString().equals('member')}">
            <button
                    th:onclick="deleteConfirm()"
                    class="btn btn-primary" id="unfollow">크루 탈퇴하기
            </button>
            <button class="btn btn-primary" id="rec_update">
                <i class="fa fa-heart" style="font-size: 16px; color: red" aria-hidden="true"></i>
            </button>
            <span class="rec_count"></span>
        </div>


        <!--  크루장 - 크루 관리하는 디브 -->
        <div id="forCrewAdmin" th:if="${crewRole.toString().equals('admin')}" style="width:100%; margin:auto;">
            <button
                    onclick="deleteConfirm()"
                    class="btn btn-primary">크루 삭제하기
            </button>
            <button
                    th:onclick="'location.href=\'' + @{/crew/update/{id}(id=${crew.id})} +'\''"
                    class="btn btn-primary">크루 정보 수정하기
            </button>
            <button type="button" class="btn btn-primary" id="follower">
                <span>크루 멤버 확인</span>
            </button>
            <button type="button" class="btn btn-primary" id="followRequest">
                <span>크루 팔로우 요청   </span>
                <span class="badge badge-sm badge-circle badge-danger border border-white border-2" id="notification-m">
                    <span id="reqNum"></span>
                </span>
            </button>
            <button
                    th:onclick="'location.href=\'' + @{/crew/meetup/insert/{id}(id=${crew.id})} +'\''"
                    class="btn btn-primary">모임 계획하기
            </button>

            <script th:inline=javascript>
                function deleteConfirm() {
                    if (!confirm("크루를 삭제하시겠습니까?")) {	// 취소 버튼 눌렀을 때
                        location.href = "/crew/crew-detail/" + [[${crew.id}]];
                    } else {
                        location.href = "/crew/delete/" + [[${crew.id}]];
                    }
                }

                $(document).ready(function () {

                    if ([[${#authentication.principal.id==crew.crewAdmin.id}]]) {
                        countRequest();
                        setInterval(countRequest, 1000); //렉이 걸리면 초를 늘리자..!
                        setInterval(requestList, 1000);
                    }
                });
            </script>
        </div>
        <!--  크루장용 디브 끝 -->

    </div>
    <!--  팔로우 버튼과 좋아요 버튼 끝 -->


    <br><br>
    <div th:replace="crew/meetup :: meetuplists"></div>

    <!-- footer -->
    <div th:replace="include/footer :: footer"></div>

</div>
<!-- END wrapper -->

<!-- -----------크루장용 모달페이지 - 크루 멤버 확인   div and js------------- -->

<div class="modal fade" id="followModal" role="dialog">
    <!-- 이곳에 적어준 id 값을 토대로 모달을 호출하게 된다.  -->
    <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <!--  모달창의 header 부분에 해당한다.  -->
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="followModal">
                <div class="modal-body">
                    <table class="modal_table">
                        <tr th:each="member : ${members}">
                            <td style="width: 70px;"><i class="fa fa-user"
                                                        style="font-size: 20px; color:purple; border-radius:75%;"></i>
                            </td>
                            <td id="modal_userID">[[${member.username}]]</td>
                            <td id="modal_userFollow">
                                <input type="hidden" id="memberId" th:value="${member.id}"/>
                                <button th:onclick="'deleteMember(\''+${member.id} + '\')'"
                                        class="btn btn-outline-primary">내보내기
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------크루장용 모달페이지 - 크루 멤버 확인    끝  ------------->

<script th:inline="javascript">
    /* 크루 팔로우 요청 list*/
    function requestList() {
        var crewId = $("#crewId").val();

        $.ajax({
            url: "/crew/requestlist/" + crewId,
            type: "POST",
            data: {
                "crewId": crewId
            },
            success: function (data) {
                var a = '<table class="modal_table">';
                $.each(data, function (key, value) {
                    a += '<tr><td style="width: 70px;"><i class="fa fa-user" style="font-size: 20px; color:purple;"></i></td>';
                    a += '<td id="modal_userID">' + value.fromUser.username + '</td>';
                    a += '<td id="llll">' + value.info + '</td>';
                    a += '<td id="modal_userFollow">';
                    a += '<button onclick="acceptMember(' + value.fromUser.id + ')" class="btn btn-outline-primary">승인하기</button>';
                    a += '<button onclick="rejectMember(' + value.fromUser.id + ')" class="btn btn-outline-primary">거절하기</button>';
                    a += '</td></tr>';
                });
                a += '</table>';
                $('.reqModalBody').html(a);
            }
        });
    }

</script>


<!-----------크루장용 팔로우 요청 관리 모달 시작------------->

<div class="modal fade" id="followRequestModal" role="dialog">
    <!-- 이곳에 적어준 id 값을 토대로 모달을 호출하게 된다.  -->
    <div class="modal-dialog">

        <!-- 	Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <!-- 모달창의 header 부분에 해당한다.  -->
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="followRequestModal">
                <div class="modal-body">
                    <div class="reqModalBody"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -----------크루장용 팔로우 요청 관리 모달 끝    ------------- -->


<!-- js include -->
<script th:src="@{/js/scripts.min.js}"></script>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/crewlikes.js}"></script>
<script th:src="@{/js/crewmodal.js}"></script>
<!--  js include 끝 -->
</body>
</html>