<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>땀땀!! 운동인을 위한 모임 사이트</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/styles-merged.css}">
<link rel="stylesheet" th:href="@{/css/style.min.css}">
<link rel="stylesheet" th:href="@{/css/custom.css}">
<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</head>
		<head th:replace="include/common::iconstyle"></head>
<body>

	<!-- 페이지 -->
	<div class="probootstrap-page-wrapper">
	
		<!-- 헤더 -->
		<div th:replace="include/header::header"></div>
		
		<!-- 네비게이션 바 -->
		<div th:replace="include/header::nav"></div>
		
		<!-- 본문 -->
		<section class="probootstrap-section probootstrap-bg-white probootstrap-border-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
						<h2>현재 활동 중인 크루</h2>
					</div>
				</div>
				<div class="row">
				
					<!-- 크루 항목 -->
					<!-- 이거 반복문으로 최대 4번이나 6번 정보 출력 -->
					<div th:each="crew:${crews}" class="col-md-6">
						<div class="probootstrap-service-2 probootstrap-animate">
							<div class="image">
								<div class="image-bg">  
									<img th:src="@{${crew.filePath}}" alt="Free Bootstrap Template by ProBootstrap.com">
								</div>
							</div>
							<div class="text">
			                  <h3 th:text="${crew.name}">크루 이름</h3>
			                  <span class="probootstrap-meta" th:text="${crew.area}"></span><br>
			                  <span class="probootstrap-meta" th:text="${crew.category}"></span><br>
			                  <span class="probootstrap-meta"><i class="fa fa-heart" aria-hidden="true">&nbsp;[[${crew.likesCount}]]</i></span>
			                  <p><span class="enrolled-count" th:text="${crew.memberCount+'/'+crew.memberLimit}"></span></p>
			                  <p><a th:onclick="'location.href=\'' + @{/crew/crew-detail/{id}(id=${crew.id})} +'\''" class="btn btn-primary">상세보기</a> </p>
			                </div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
		<!-- 본문 하단 -->
		<section class="probootstrap-cta">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Let's go play!</h2>
						<a href="/crew/crews" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">전체 크루 보기</a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- 푸터 -->
		<div th:replace="include/footer :: footer"></div>
	
	</div>
	
	<script th:src="@{/js/scripts.min.js}"></script>
	<script th:src="@{/js/main.min.js}"></script>

</body>
</html>