<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>문의사항 : 글 작성</title>
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	<link rel="stylesheet" th:href="@{/css/styles-merged.css}">
	<link rel="stylesheet" th:href="@{/css/style.min.css}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
		<style>
	label{
	font-size:15px
	}
	
	</style>
</head>
<head th:replace="include/common::iconstyle"></head>
<script>
// form 검증(validation)
function chkSubmit(){
	
	frm = document.forms['frm'];
	
	var content = frm['content'].value.trim();
	var subject = frm['subject'].value.trim();
	
	if(content == ""){
		alert("내용을 입력해주세요.");
		frm['content'].focus();
		return false;
	}
	
	if(subject == ""){
		alert("제목은 반드시 작성해야 합니다");
		frm["subject"].focus();
		return false;
	}
	
	return true;	
}
</script>
<body>
<!--  header -->
	<!-- 페이지 -->
	<div class="probootstrap-page-wrapper">
	
		<!-- 헤더 -->
		<div th:replace="include/header::header"></div>
		
		<!-- 네비게이션 바 -->
		<div th:replace="include/header::nav"></div>
	
<!--  문의사항 작성  -->	
		<section class="probootstrap-section probootstrap-section-colored">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-left section-heading mb0">
						<h1 class="mb0">문의하기</h1>
					</div>
				</div>
			</div>
		</section>
		
	<div class="container mt-3">
		<form name="frm" action="writeOk" method="post" onsubmit="return chkSubmit()" enctype="multipart/form-data">
            
            <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
                <label for="subject" style="margin-top:30px"><strong>제목</strong></label>
                <input type="text" class="form-control" id="subject" placeholder="제목을 입력하세요" name="subject" style="text-align:left !important; height:50">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
                <label for="content" ><strong>내용</strong></label>
                <textarea class="form-control" rows="5" style="text-align:left; height:300" id="content" placeholder="내용을 입력하세요" name="content" ></textarea>
            </div>
	        <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
            <label for="inputFile" class="col-sm-2 col-form-label" style="margin-bottom:50px"><strong>첨부 파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="files" type="file" class="custom-file-input" id="customFile">
                </div>
            </div>
            <input type="hidden" th:value="${session.User}">
        </div>
			<div style="margin-top:30px">
            <button type="submit" class="btn btn-primary">작성완료</button>
            <button type="button" class="btn btn-primary" onclick="location.href='list'">목록</button>
            </div>
		</form>
	</div>
	    		<!-- 본문 하단 -->
		<section class="probootstrap-cta">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</section>
<!--  footer -->

		<div th:replace="include/footer :: footer"></div>
	
	</div>
	
	<script th:src="@{/js/scripts.min.js}"></script>
	<script th:src="@{/js/main.min.js}"></script>

</body>
</html>