<section class="probootstrap-section" th:fragment="crew-list">
    <div class="container">
        <div class="row">
            <div th:each="crew:${crewList}">
                <!--  하나의 크루 -->
                <div style="cursor:pointer"
                     th:onclick="'location.href=\'' + @{/crew/crew-detail/{id}(id=${crew.id})} +'\''">
                    <div class="probootstrap-service-2 probootstrap-animate">
                        <div class="image">
                            <div class="image-bg">
                                <img th:src="@{${crew.filePath}}">
                            </div>
                        </div>
                        <div class="text">
                            <h3 th:text="${crew.name}" style="font-weight:bold;">크루 이름</h3>
                            <span class="probootstrap-meta"
                                  th:text="${crew.area}"></span><br>
                            <span class="probootstrap-meta"
                                  th:text="${crew.category}"></span><br>
                            <span class="probootstrap-meta">크루장 : [[${crew.crewAdmin.username}]]</span><br>
                            <p><span class="enrolled-count">멤버 수 : [[${crew.memberCount}]]  /  [[${crew.memberLimit}]]</span></p>
                            <span class="probootstrap-meta">
                                <i class="fa fa-heart" aria-hidden="true">&nbsp;[[${crew.likesCount}]]</i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 하나의 크루 끝 -->
            </div>
        </div>
    </div>
</section>
</div>