<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<section class="probootstrap-section" id="probootstrap-counter" th:fragment="data-display">
    <div class="container" style="text-align:center;">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                <div class="probootstrap-counter-wrap">
                    <div class="probootstrap-icon">
                        <i class="icon-users2"></i>
                    </div>
                    <div class="probootstrap-text">
                         <span class="probootstrap-counter">
                            <span class="js-counter" data-from="0"
                                  th:attr="data-to=${#lists.size(crewList)}"
                                  data-speed="2500" data-refresh-interval="50">
                            1</span>
                        </span>
                        <span class="probootstrap-counter-label">누적 크루 수</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                <div class="probootstrap-counter-wrap">
                    <div class="probootstrap-icon">
                        <i class="icon-user-tie"></i>
                    </div>
                    <div class="probootstrap-text">
                        <span class="probootstrap-counter">
                            <span class="js-counter" data-from="0"
                                  th:attr="data-to=${userCount}"
                                  data-speed="2500" data-refresh-interval="50">1</span>
                        </span>
                        <span class="probootstrap-counter-label">누적 회원 수 </span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                <div class="probootstrap-counter-wrap">
                    <div class="probootstrap-icon">
                        <i class="icon-library"></i>
                    </div>
                    <div class="probootstrap-text">
                        <span class="probootstrap-counter">
                            <span class="js-counter" data-from="0"
                                  th:attr="data-to=${meetupCount}"
                                  data-speed="2500" data-refresh-interval="50">1</span>
                        </span>
                        <span class="probootstrap-counter-label">누적 모임 횟수</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                <div class="probootstrap-counter-wrap">
                    <div class="probootstrap-icon">
                        <i class="icon-smile2"></i>
                    </div>
                    <div class="probootstrap-text">
                        <span class="probootstrap-counter">
                            <span class="js-counter" data-from="0" data-to="100"
                                  data-speed="5000"
                                  data-refresh-interval="50">1</span>%
                        </span>
                        <span class="probootstrap-counter-label">모임 만족도</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>